<template>
  <div id="menupage">
    <div style="width: 100vw; height: 15vh">
      <img
        src="https://www.mjseafood.com/assets/uploads/images/large/b6705c61-11f1-4ead-8946-5f1ce9e2eb6a.jpg"
        style="height: 25vh;  margin-top:1vh;"
      />
    </div>

    <span style="height: 10vh; width: 100vw;font-size:7vh;">
      Dourada Grande
    </span>

    <div style="margin: 0 auto; height: auto; bottom:5vh; position:absolute;">
      <menu-button
        v-for="btn in this.buttons"
        :key="btn"
        :title="btn.title"
        :image="btn.image"
        :color="btn.color"
        :route="btn.route"
      ></menu-button>
    </div>
  </div>
</template>

<style scoped>
#menupage {
  height: 87vh; /* Full screen - (Header size + Footer size) */
  background: whitesmoke;
  margin: 0 auto;

}
</style>

<script>
Vue.component("menu-button", httpVueLoader("./menu-button2.vue"));

module.exports = {
  data() {
    return {
      buttons: [
        {
          title: "Traceability",
          image:
            "https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321_960_720.png",
          color: "#DAF2FF",
          route: "/traceability-page",
        },
        {
          title: "Nutrition",
          image:
            "https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260",
          color: "#D3EBF7",
        },
        {
          title: "Recipes",
          image:
            "https://cdn.pixabay.com/photo/2014/10/22/16/38/ingredients-498199_960_720.jpg",
          color: "#D3EBF7",
        },
        {
          title: "History",
          image:
            "https://cdn.pixabay.com/photo/2019/06/28/12/02/open-book-4304049_960_720.jpg",
          color: "#CDE3F0",
        },
      ],
    };
  },
  methods: {},
  computed: {},
  mounted() {
    console.log("[cordovue] second page started!");
  },
};
</script>
