<template>
  <div class="main align-center d-flex">
    <div style="margin: 0 auto">
      <p style="text-align: left">Lot Reference</p>
      <v-text-field solo class="text-field" height="100"></v-text-field>

      <div style="height: 3vh"></div>

      <p style="text-align: left">Brand / Value Chain Operator</p>
      <v-text-field solo class="text-field" height="100"></v-text-field>

      <div style="height: 10vh"></div>

       
      <v-btn
        style="height: 10vh; width: 100%; background: ghostwhite; font-size:4vh;"
        to = "/menu-page"
        >Search</v-btn
      >
    </div>
  </div>
</template>

<style scoped>
.main {
  background: teal;
  /*background: whitesmoke;*/
  height: 87vh; /* Full screen - (Header size + Footer size) */
}

.text-field {
  margin: 0 auto;
  width: 80vw;
  font-size: 100%;
}

</style>
