<template>
  <!-- MAP TRACEABILITY DIV -->
  <div
    style="
      padding-top: 2vh;
      padding-left: 5vw;
      padding-right: 5vw;
      background:whitesmoke;
    "
    id="receitas"
  >
    <div
      class="rows"
      style="height: 7vh; background: rgba(135, 206, 235, 1); width: 100%"
    >
      <v-col :cols="2"></v-col>
      <v-col :cols="8">
        <span style="font-size: 3.5vh; color: white">Traceability map</span>
      </v-col>
      <v-col :cols="2"></v-col>
    </div>

    <div id="map"></div>
    <div id="pcc" class="pcc"></div>
  </div>
</template>

<style scoped>
.pcc {
  width: 150px;
}

.rows {
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 70vh;
  width: 90vw;
  z-index: 0;
  overflow: hidden;
}

.aminhaclass {
  background: green;
  border: 2px solid cyan;
}

.leaflet-tooltip-left.aminhaclass::before {
  border-left-color: cyan;
}

.leaflet-tooltip-right.aminhaclass::before {
  border-right-color: cyan;
}

.arrows {
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-bottom: 4vw solid rgb(0, 159, 225);
}
</style>

<script>
Vue.component("l-map", window.Vue2Leaflet.LMap);
Vue.component("l-control-layers", window.Vue2Leaflet.LControlLayers);
Vue.component("l-tile-layer", window.Vue2Leaflet.LTileLayer);
Vue.component("l-marker", window.Vue2Leaflet.LMarker);
Vue.component("l-popup", window.Vue2Leaflet.LPopup);
Vue.component("l-tooltip", window.Vue2Leaflet.LTooltip);
Vue.component("l-icon", window.Vue2Leaflet.LIcon);

module.exports = {
  props: ["product"],
  data() {
    return {
      testedGraph: [],
      zoom: 5,
      center: [41.68606, -8.837033],
      url: "http://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',

      mapVariable: null,
      mapMarkers: [],
      markers: [],
      markers2: [
        {
          event: "Pesca por boia",
          label: "Pesca por boia",
          location: [39.37797, -9.43678],
        },
        {
          label: "Receção - Docapesca Peniche",
          event: "Receção",
          location: [39.35599, -9.37237],
        },
        {
          label: "Transformação - Battaglia",
          event: "Transformação",
          location: [37.10419, -8.67317],
        },
        {
          label: "Congelação - Battaglia",
          event: "Congelação",
          location: [37.14218, -8.66415],
        },
        {
          label: "Embalamento - CDP Santarem",
          event: "Embalamento",
          location: [39.25696, -8.70638],
        },
        {
          label: "Exposição em loja - Continente Viana",
          event: "Exposição em loja",
          location: [41.70442, -8.81482],
        },
      ],
      markers1: [
        {
          event: "Captura Selvagem",
          label: "Captura Selvagem",
          location: [36.336652, -10.232504],
        },
        {
          event: "Recepção",
          label: "Recepção - DocaPesca",
          location: [37.00974, -8.9319],
        },
        {
          event: "Transformação",
          label: "Transformação - CDP",
          location: [39.28441, -8.71337],
        }, // DOCAPESCA VIANA,
        {
          event: "Exposição Loja",
          label: "Recepção - Continente",
          location: [41.1811, -8.65501],
        },
      ],

      vitaminsRow: 0,
      length: 3,
      window: 0,
      openMicro: false,
      openMacro: true,
      openRecipe: true,
      openMap: false,
      componentKey: 0,
      productOfInterest: 100,
      old_price: 2,
      tableContent: false,

      forceRender: function () {
        arguments;
        this.$forceUpdate();
        console.log("aonaonafnio");
      },
    };
  },
  methods: {

    async getEvents() {
      console.log("Downloading events...");

      //var lote = 109;
      //var lote = 175; Estoura
      var lote = 176;
      var currentOp = 113;
      var tracking = [];

      // Hardcoded variables
      var eventLink =
        "https://valormar-api.web.ua.pt/tracking/v0.1/api/Event/trackByLotId?LotId=";
      var typeLink =
        "https://valormar-api.web.ua.pt/governance/v0.1/EventType/";
      var token = "371b301d-1529-387c-8e77-c5fc7a945b66";

      this.promiseUpdateMarkers();
    },

    async promiseUpdateMarkers() {
      this.markers[0] = {
        event: "registry",
        label: "Registo de produto",
        location: [41.68606, -8.837032],
      };
      this.markers.forEach((element) => {
        console.log("Elemento grafo is : " + JSON.stringify(element));
      });

      this.updateMapView();
    },

    async promiseGenerateGraph(tracking, events, lote, currentOp) {
      return await this.recur(tracking, events, lote, currentOp);
    },

    async promiseEventType(tracking, link, token) {
      return await this.getEventTypes(tracking, link, token);
    },

    async promiseOperatorLocation() {
      return await this.getOperatorLocation();
    },

    async getEventTypes(tracking, link, token) {
      axios.defaults.headers.common = { Authorization: `Bearer ${token}` };

      for (var i = 0; i < this.testedGraph.length; i++) {
        this.testedGraph[i].type = await axios
          .get(link + this.testedGraph[i].type)
          .then(function (response) {
            return response.data.event_type_name;
          });
      }
    },

    async getOperatorLocation() {
      for (var i = 0; i < this.testedGraph.length; i++) {
        this.testedGraph[i].coordinates = await axios
          .get(
            "https://valormar-api.web.ua.pt/governance/v0.1/Operator/" +
              this.testedGraph[i].operatorOrig
          )
          .then(function (response) {
            console.log(
              "ESIETAIOUAEGOUIAEGUBAGEB+UOAGEB+UOAGE+UO" +
                JSON.stringify(response.data)
            );
            return response.data.operator_info[0].operator_info_value;
          });
      }
    },

    recur(tracking, filtered, lote, currentOp) {
      for (var i = 0; i < filtered.length; i++) {
        var element = filtered[i];
        if (element.output_lots.length > 0)
          if (element.output_lots[0].lot.LotId == lote) {
            console.log("Adding to track list: " + JSON.stringify(element));
            var beforeOp = element.event_operator_origin;

            // Captura
            tracking.push({
              operatorOrig: element.event_operator_origin,
              operatorDest: element.event_operator_destination,
              type: element.event_type,
              coordinates: element.coordinates,
            });

            var counter = 0;
            console.log("Graph created: ");
            tracking.reverse().forEach((element) => {
              counter++;
              console.log(
                "[" +
                  counter +
                  "] " +
                  element.operatorOrig +
                  " -> " +
                  element.operatorDest
              );
            });

            this.testedGraph = tracking;

            var beforeLots = element.input_lots[0].lot.LotId;

            this.recur(tracking, filtered, beforeLots, beforeOp);
          }
      }
    },

    async apiEvents(link, token) {
      axios.defaults.headers.common = { Authorization: `Bearer ${token}` };
      return await axios.get(link).then(function (response) {
        var filtered = response.data.filter(function (element) {
          if (
            element.coordinates != null &&
            (element.coordinates.includes(";") ||
              element.coordinates.includes(","))
          ) {
            return element;
          }
        });
        console.log("Response.data: " + response.data.length);
        console.log("Filtered: " + filtered.length);

        filtered.forEach((element) => {
          console.log(
            "Event:------------------------------------" +
              JSON.stringify(element)
          );
        });
        return filtered;
      });
    },

    async apiProducts(link, token) {
      axios.defaults.headers.common = { Authorization: `Bearer ${token}` };
      return await axios.get(link).then(function (response) {
        var filtered = response.data.filter(function (element) {
          console.log(
            "Event: ----------------------" + JSON.stringify(element)
          );
          if (
            element.coordinates != null &&
            (element.coordinates.includes(";") ||
              element.coordinates.includes(","))
          ) {
            return element;
          }
        });
        console.log("Response.data: " + response.data.length);
        console.log("Filtered: " + filtered.length);

        return response.data;
      });
    },

    arrayCleaner(va) {
      var renew = false;
      var array = va;
      array.forEach(function (result, index) {
        console.log(
          "Result: " + JSON.stringify(result) + "Amount: " + result.amount
        );

        if (result.amount <= 0.5) {
          array.splice(index, 1);
          renew = true;
        }
      });
      if (renew) this.arrayCleaner(array);
      return array;
    },

    onMarkerClickPopupChart(e) {
      var index = this.index;
      alert("hi. you clicked the marker at " + e.latlng);
      console.log("E: " + e);
      console.log("INDEX:  " + index);
    },

    updateMapView() {
      console.log("UPDATING MAP VIEW");

      (function () {
        var _old__setPos = L.Marker.prototype._setPos;
        L.Marker.include({
          _updateImg: function (i, a, s) {
            a = L.point(s).divideBy(2)._subtract(L.point(a));
            var transform = "";
            transform += " translate(" + -a.x + "px, " + -a.y + "px)";
            transform += " rotate(" + this.options.iconAngle + "deg)";
            transform += " translate(" + a.x + "px, " + a.y + "px)";
            i.style[L.DomUtil.TRANSFORM] += transform;
          },

          setIconAngle: function (iconAngle) {
            this.options.iconAngle = iconAngle;
            if (this._map) this.update();
          },

          _setPos: function (pos) {
            if (this._icon) this._icon.style[L.DomUtil.TRANSFORM] = "";
            if (this._shadow) this._shadow.style[L.DomUtil.TRANSFORM] = "";

            _old__setPos.apply(this, [pos]);

            if (this.options.iconAngle) {
              var defaultIcon = new L.Icon.Default();
              var a =
                this.options.icon.options.iconAnchor ||
                defaultIcon.options.iconAnchor;
              var s =
                this.options.icon.options.iconSize ||
                defaultIcon.options.iconSize;
              var i;
              if (this._icon) {
                i = this._icon;
                this._updateImg(i, a, s);
              }
              if (this._shadow) {
                if (this.options.icon.options.shadowAnchor)
                  a = this.options.icon.options.shadowAnchor;
                s = this.options.icon.options.shadowSize;
                i = this._shadow;
                this._updateImg(i, a, s);
              }
            }
          },
        });
      })();

      for (var i = 0; i < this.markers.length; i++) {
        var iconImagemarker =
          "src-vue/resources/lib/vue-leaflet/icons/registry.svg";
        switch (this.markers[i].event) {
          case "storage":
          case "Embalamento":
            iconImagemarker =
              "src-vue/resources/lib/vue-leaflet/icons/warehouse.svg";
            break;
          case "transformation":
          case "Transformação":
            iconImagemarker =
              "src-vue/resources/lib/vue-leaflet/icons/settings.svg";
            break;
          case "transport":
            iconImagemarker =
              "src-vue/resources/lib/vue-leaflet/icons/transport.svg";
            break;
          case "quality":
            iconImagemarker =
              "src-vue/resources/lib/vue-leaflet/icons/quality.svg";
            break;
          case "registry":
          case "rececaoDoca":
          case "Recepção":
          case "Receção":
            iconImagemarker =
              "src-vue/resources/lib/vue-leaflet/icons/registry.svg";
            break;
          case "Captura":
          case "Captura Selvagem":
          case "Pesca por boia":
            iconImagemarker =
              "src-vue/resources/lib/vue-leaflet/icons/fish.svg";
            break;
        }

        /* Add original marker */
        var marcador = L.marker(
          L.latLng(this.markers[i].location[0], this.markers[i].location[1]),
          {
            icon: new L.icon({
              iconUrl: iconImagemarker,
              iconSize: [50, 50], // size of the icon
              iconAnchor: [25, 25], // point of the icon which will correspond to marker's location
              popupAnchor: [0, -51], // point from which the popup should open relative to the iconAnchor
            }),
            iconAngle: 0,
            label: this.markers[i].label,
          }
        );

        var photoImg = `<img src="${iconImagemarker}" height="100px" width="100px"/>`;
        var popup = L.popup().setLatLng(this.markers[i].location).setContent(`
                <img src="${iconImagemarker}" style="margin:0 auto;width:30%;display:block"/>
                <h1> ${this.markers[i].label} </h1>
                <br/>
                `);

        marcador.bindPopup(popup);
        marcador.addTo(this.mapVariable);
        this.mapMarkers.push(marcador);

        if (i + 1 < this.markers.length) {
          var antPolyline = new L.Polyline.AntPath(
            [this.markers[i].location, this.markers[i + 1].location],
            {
              color:
                this.markers[i].event == "registry" ||
                this.markers[i].event == "RececaoDoca" ||
                this.markers[i].event == "Recepção" ||
                this.markers[i].event == "Receção"
                  ? "blue"
                  : this.markers[i].event == "Transformação"
                  ? "green"
                  : this.markers[i].event == "Captura" ||
                    this.markers[i].event == "Captura Selvagem"
                  ? "red"
                  : "maroon",
              pulseColor: "white",
              delay: 750,
              dashArray: [31, 49],
              hardwareAccelerated: true,
            }
          );
          antPolyline.addTo(this.mapVariable);
          this.mapMarkers.push(antPolyline);
        }
      }
    },
  },
  computed: {
    dynamicSize() {
      return [this.iconSize, this.iconSize * 1.15];
    },
    dynamicAnchor() {
      return [this.iconSize / 2, this.iconSize * 1.15];
    },
  },
  mounted() {
    this.mapVariable = L.map("map").setView(this.center, this.zoom);

    L.tileLayer("https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png", {
      maxZoom: 18,
    }).addTo(this.mapVariable);

    this.markers = this.markers2;
    this.updateMapView();
  },
};
</script>
