<template>
  <v-btn tile id="btn" elevation="0" :to="route">
    <div
      style="
        background: gray;
        z-index: 1;
        opacity: 0.2;
        position: absolute;
        width: 100vw;
        height: 21vh;
      "
    ></div>
    <img :src="image" style="height: 21vh; width: 100vw; opacity: 0.5" />
    <span>{{ title }}</span>
  </v-btn>
</template>

<style scoped>
/*
:style="{ 'background-color': color }"
*/

span {
  position: absolute;
  color: white;
  font-variant-caps: small-caps !important;
  font-family: "Roboto", sans-serif  !important;
  z-index: 2;
  text-transform: lowercase;
}

#btn {
  margin-top: 0.6vh;
  position: relative;
  height: 21vh;
  width: 100vw;
  font-size: 7vh;
}
</style>

<script>
module.exports = {
  props: {
    title: String,
    image: Image,
    color: String,
    route: String
  },
  data: {},
  methods: {},
  computed: {},
  mounted() {
    console.log("[cordovue] menu button started!");
  },
};
</script>
