#app {
    /*font-family: "Avenir", Helvetica, Arial, sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-variant-caps: small-caps !important;
    color: white !important;
}