<template>
  <v-btn tile id="btn" elevation="0" :to="route">
    <div
      style="
        background: black;
        z-index: 1;
        opacity: 0.2;
        position: absolute;
        width: 49vw;
        height: 28vh;
      "
    ></div>
    <img :src="image" style="height: 28vh; width: 49vw; opacity: 0.5" />
    <span>{{ title }}</span>
  </v-btn>
</template>

<style scoped>
span {
  position: absolute;
  color: white;
  font-variant-caps: small-caps !important;
  font-family: "Roboto", sans-serif  !important;
  z-index: 2;
  text-transform: lowercase;
}

#btn {
  position: relative;
  height: 28vh;
  max-height:28vh;
  width: 49vw;
  font-size: 4vh;
  margin-left:0.1vh;
  margin-right:0.1vh;
  margin-left:0.1vh;
  margin-top:0.1vh;
}
</style>

<script>
module.exports = {
  props: {
    title: String,
    image: Image,
    color: String,
    route: String
  },
  data: {},
  methods: {},
  computed: {},
  mounted() {
    console.log("[cordovue] menu button started!");
  },
};
</script>
