<template>
  <v-app class="body">
    <!-- Header -->
    <div class="d-flex align-center justify-center topbar">
      <v-btn
        class="mx-2"
        fab
        color="white"
        elevation="2"
        style="position: fixed; left: 3vw; font-size: 8vh"
        @click="goBack"
        v-if="this.$router.currentRoute.path != '/'"
      >
        <v-icon dark style="font-size: 5vh">
          fas fa-long-arrow-alt-left
        </v-icon>
      </v-btn>

      <span
        style="position: relative"
        class="d-flex align-center justify-center"
      >
        <img
          src="https://pbs.twimg.com/profile_images/1145664482796081153/-jflyL2h.png"
          style="height: 5vh; position: absolute; left: -35%"
        />ValorMar R&D</span
      >

      <v-btn
        class="mx-2"
        fab
        color="white"
        elevation="2"
        style="position: fixed; right: 3vw"
      >
        <v-icon dark style="font-size: 4vh"> fas fa-flag </v-icon>
      </v-btn>
    </div>

    <!-- Main -->
    <div style="margin-top: 7vh">
      <router-view
        style="
          border-top-left-radius: 3vh;
          border-top-right-radius: 3vh;
          border: 1px solid #2C3E50;
          height:88vh;
        "
      ></router-view>
    </div>

    <!-- Footer -->
    <div class="d-flex align-center justify-center footer">IPVC@2021</div>
  </v-app>
</template>

<style scoped>
.body {
  height: 100vh;
  width: 100vw;
  font-size: 3vh;
  overflow: hidden;
  background: ghostwhite;
}

.main {
  background: white;
  height: 87vh; /* Full screen - (Header size + Footer size) */
}

.text-field {
  margin: 0 auto;
  width: 80vw;
  font-size: 100%;
}

.topbar {
  position: fixed;
  top: 0;
  z-index: 3;
  /*background: ghostwhite;*/
  background: navy;
  height: 7vh;
  width: 100vw;
}

.text-field {
  margin: 0 auto;
  width: 80vw;
  font-size: 100%;
}

.footer {
  position: fixed;
  font-size: 2vh;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  background: ghostwhite;
}

.teste {
  height: 50vh;
  width: 100%;
  background: red;
}
</style>

<script>
//Vue.component("search-page", httpVueLoader("./components/main-page.vue"));

module.exports = {
  data: {},
  methods: {
    searchBtn() {
      console.log("Clicked.");
    },
    goBack() {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
      console.log(
        "$router.currentRoute.path : " + this.$router.currentRoute.path
      );
    },
  },
  computed: {},
  mounted() {
    console.log("[cordovue] Application started!");
  },
};
</script>
